<nav class="navbar navbar-default" ng-controler="BarraSuperiorController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/inicio">
        <img alt="Brand" src="imgs/logo-pequena.png" height="24" width="24">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><span>Login:</span></li>
       <!-- TODO: colocar em class "active" quando estiver em sua pagina -->
      <li><a href="#/loginCliente">Cliente</a></li>
      <li><a href="#/loginFreelancer">Freelancer</a></li>
      <li><a href="#/loginAdmin">Admin</a></li>
    </ul>
  </div>
</nav>