<nav class="navbar navbar-default" ng-controler="BarraSuperiorController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/inicio">
        <img alt="Brand" src="imgs/logo-pequena.png" height="24" width="24">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" ng-if="getTelaAtiva().startsWith('/freelancer/')">
      
      
      <li ng-class="{'active' : isTelaAtiva('/freelancer/disponivel')}"><a ng-href="#/freelancer/disponivel">Trabalhos Disponíveis</a></li>
      <li ng-class="{'active' : isTelaAtiva('/freelancer/andamento')}"><a ng-href="#/freelancer/andamento">Trabalhos em Andamento</a></li>
      <li ng-class="{'active' : isTelaAtiva('/freelancer/concluido')}"><a ng-href="#/freelancer/concluido">Trabalhos Concluídos</a></li>
      <li ng-class="{'active' : isTelaAtiva('/freelancer/dados')}"><a ng-href="#/freelancer/dados">Alterar Info</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><span>Login:</span></li>
       <!-- TODO: colocar em class "active" quando estiver em sua pagina -->
      <li><a href="#/login/cliente">Cliente</a></li>
      <li><a href="#/login/freelancer">Freelancer</a></li>
      <li><a href="#/login/admin">Admin</a></li>
    </ul>
  </div>
</nav>