<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{'active' : dataFreelancer.aba == 'disponivel'}"><a ng-href="#/freelancer" ng-click="mudaAba('disponivel')">Trabalhos Disponíveis</a></li>
    <li role="presentation" ng-class="{'active' : dataFreelancer.aba == 'andamento'}"><a ng-href="#/freelancer" ng-click="mudaAba('andamento')">Trabalhos em Andamento</a></li>
    <li role="presentation" ng-class="{'active' : dataFreelancer.aba == 'concluido'}"><a ng-href="#/freelancer" ng-click="mudaAba('concluido')">Trabalhos Concluídos</a></li>
    <li role="presentation" ng-class="{'active' : dataFreelancer.aba == 'info'}"><a ng-href="#/freelancer" ng-click="mudaAba('info')">Alterar Info</a></li>
</ul>


<div ng-switch="dataFreelancer.aba">
    <div ng-switch-when="disponivel">
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
                <tr ng-repeat="trabalho in dataFreelancer.disponiveis">
                    <td>{{trabalho.nome}}</td>
                    <td>{{trabalho.descricao}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-switch-when="andamento">
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
                <tr ng-repeat="trabalho in dataFreelancer.andamento">
                    <td>{{trabalho.nome}}</td>
                    <td>{{trabalho.descricao}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-switch-when="concluido">
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
                <tr ng-repeat="trabalho in dataFreelancer.concluido">
                    <td>{{trabalho.nome}}</td>
                    <td>{{trabalho.descricao}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-switch-when="info">
        <form novalidate class="simple-form">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="input" id="nome" name="Nome" ng-model="dataFreelancer.dados.nome">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="input" id="email" name="Email" ng-model="dataFreelancer.dados.email"><br>
            </div>

            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" ng-model="dataFreelancer.dados.senha">

                <label for="senha2">Confirmar Senha:</label>
                <input type="password" id="senha2" ng-model="dataFreelancer.senha2"><br>
            </div>


            <div class="form-group">
                <label for="especialidades">Especialidades:</label>
                <select id="especialidades" class="selectpicker" multiple ng-model="dataFreelancer.dados.especialidades">
                    <option ng-repeat="especialidade in dataFreelancer.todasEspecialidades" value="{{especialidade.id}}">{{especialidade.nome}}</option>
                </select>
            </div>

            <br>
            <input type="submit" name="Atualizar" value="Submit" ng-click="atualizaFreelancerDados()">
        </form>
    </div>
</div>
