<!--
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="imgs/logo-media.png" alt="N:M"  height="128" width="128">
      <div class="caption">

        <div id="login-box">
          <div id="login-box-interno">
            <div id="login-box-label">
            </div>
            <div class="container">

                Login<br/>
                <div class="input-group">
                  <span class="input-group-addon" id="email-label">@</span>
                  <input type="text" class="form-control" placeholder="Email" aria-describedby="email-label"
                    required autofocus ng-model="usuario.email">
                </div>

                <div class="input-group">
                  <span class="input-group-addon" id="senha-label">*</span>
                  <input type="password" class="form-control" placeholder="Senha" aria-describedby="senha-label"
                    required ng-model="usuario.senha">
                </div>



                <button class="btn btn-primário" type="submit" ng-click="login(usuario)"><b>Entra</b></button>

              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	-->

<style>
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login</h1>
            <div class="account-wall">
                <img class="profile-img" src="imgs/logo-media.png" alt="" height="128" width="128">
                <form class="form-signin">

                  <div class="alert alert-danger" role="alert" ng-show="datalogin.erro">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    {{datalogin.erro}}
                  </div>

                <input type="text" class="form-control" placeholder="Email" required autofocus ng-model="usuario.email">
                <input type="password" class="form-control" placeholder="Senha" required ng-model="usuario.senha">

                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(usuario)">
                    Login
                </button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me" ng-model="usuario.lembrar">
                    Lembrar
                </label>
                </form>
            </div>
            <a href="#" class="text-center new-account">Criar Conta</a>
        </div>
    </div>
</div>