<!-- TODO: Tela de loading -->
<div ng-show="dataFreelancer.loading != 0">loading</div>
<div ng-hide="dataFreelancer.loading != 0">

    <form name="cadastroForm" novalidate class="simple-form">

        <div class="alert alert-danger" ng-show="dataFreelancer.erro.mensagem">
            <span>{{dataFreelancer.erro.mensagem}}</span>
        </div>
        <div class="form-group" ng-class="{'has-error': dataFreelancer.erro.nome.requerido || dataFreelancer.erro.nome.tamanho}">
            <label for="nomeInput" class="control-label col-md-3">Nome:</label>
            <div class="col-md-9">
                <input type="text" id="nomeInput" name="nomeInput" class="form-control" placeholder="Nome" required autofocus minlength="2" ng-model="dataFreelancer.dados.nome">
                <span class="help-block" ng-show="dataFreelancer.erro.nome.requerido">Campo Requerido</span>
                <span class="help-block" ng-show="dataFreelancer.erro.nome.tamanho">Nome Precisa ter no minimo 2 Caracteres</span>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error': dataFreelancer.erro.email.requerido || dataFreelancer.erro.email.invalido}">
            <label for="emailInput" class="control-label col-md-3">Email:</label>
            <div class="col-md-9">
                <input type="email" id="emailInput" name="emailInput" class="form-control" placeholder="Email" required ng-model="dataFreelancer.dados.email">
                <span class="help-block" ng-show="dataFreelancer.erro.email.requerido">Campo Requerido</span>
                <span class="help-block" ng-show="dataFreelancer.erro.email.invalido">Email Invalido</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': dataFreelancer.erro.cpfcnpj.requerido || dataFreelancer.erro.cpfcnpj.invalido}">
            <label for="cpfcnpjInput" class="control-label col-md-3">CPF:</label>
            <!-- TODO: CPF/CNPJ -->
            <div class="col-md-9">
                <input id="cpfcnpjInput" name="cpfcnpjInput" class="form-control" required ng-cpf ui-mask="999.999.999-99" ng-model="dataFreelancer.dados.cpfcnpj">
                <span class="help-block" ng-show="dataFreelancer.erro.cpfcnpj.requerido">CPF Requerido</span>
                <span class="help-block" ng-show="dataFreelancer.erro.cpfcnpj.invalido">CPF Invalido</span>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error': dataFreelancer.erro.senha.requerido || dataFreelancer.erro.senha.tamanho || dataFreelancer.erro.senha.difere}">
            <label for="senhaInput" class="col-md-3 control-label">Senha:</label>
            <div class="col-md-9">
                <input type="password" id="senhaInput" name="senhaInput" class="form-control" placeholder="Senha" ng-model="dataFreelancer.dados.senha">
            </div>

            <label for="senhaInput2" class="col-md-3 control-label">Confirmar Senha:</label>
            <div class="col-md-9">
                <input type="password" id="senhaInput2" class="form-control" placeholder="Confirmar Senha" ng-model="dataFreelancer.senha2">
                <span class="help-block" ng-show="dataFreelancer.erro.senha.requerido">Senhas Requeridas</span>
                <span class="help-block" ng-show="dataFreelancer.erro.senha.tamanho">Senha tem tamanho minimo de 5 caracteres</span>
                <span class="help-block" ng-show="dataFreelancer.erro.senha.difere">Senhas Diferentes</span>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': dataFreelancer.erro.especialidade.requerido}">
            <label for="especialidadeInput" class="col-md-3 control-label">Especialidades:</label>
            <div class="col-md-9">
                <select id="especialidadeInput" name="especialidadeInput" class="selectpicker form-control" required multiple ng-model="dataFreelancer.dados.especialidade">
                    <option ng-repeat="especialidade in dataFreelancer.todasEspecialidades" value="{{especialidade.id}}">{{especialidade.nome}}</option>
                </select>
                <span class="help-block" ng-show="dataFreelancer.erro.especialidade.requerido">Especialidade Requerido</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button id="btn-signup" type="button" class="btn btn-info" ng-click="atualizaFreelancerDados()">Atualizar</button>
            </div>
        </div>
    </form>
</div>
