<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-hide="dataClienteLogin.cadastrar">
    <div class="panel panel-info">
        <div class="panel-heading">
            <center>
                <img class="profile-img" src="imgs/logo-media.png" alt="" height="128" width="128">
                <div class="panel-title">Login</div>
            </center>
            <div class="panel-title text-right"><a id="signinlink" href="#/cadastro/cliente" >Cadastrar</a></div>
        </div>
        <div class="panel-body">
            <form name="loginForm" class="form-horizontal" role="form" novalidate>

                <div class="alert alert-danger" ng-show="dataClienteLogin.erro.mensagem">
                    <span>{{dataClienteLogin.erro.mensagem}}</span>
                </div>

                <div class="form-group" ng-class="{'has-error': dataClienteLogin.erro.email.requerido || dataClienteLogin.erro.email.invalido}">
                    <label for="emailInput" class="control-label col-md-3">Email:</label>
                    <div class="col-md-9">
                        <input type="email" id="emailInput" name="emailInput" class="form-control" placeholder="Email" required autofocus ng-model="dataClienteLogin.data.email">
                        <span class="help-block" ng-show="dataClienteLogin.erro.email.requerido">Campo Requerido</span>
                        <span class="help-block" ng-show="dataClienteLogin.erro.email.invalido">Email Invalido</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': dataClienteLogin.erro.senha.requerido || dataClienteLogin.erro.senha.tamanho}">
                    <label for="senhaInput" class="control-label col-md-3">Senha:</label>
                    <div class="col-md-9">
                        <input type="password" id="senhaInput" name="senhaInput" class="form-control" placeholder="Senha" minlength="5" required ng-model="dataClienteLogin.data.senha">
                        <span class="help-block" ng-show="dataClienteLogin.erro.senha.requerido">Senha Requerida</span>
                        <span class="help-block" ng-show="dataClienteLogin.erro.senha.tamanho">Senha tem tamanho minimo de 5 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="button" class="btn btn-info" ng-disabled="dataClienteLogin.loading" ng-click="login(dataClienteLogin.data)">
                            <span ng-hide="dataClienteLogin.loading">Login</span>
                            <span ng-show="dataClienteLogin.loading">Espere...</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>